/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    color: #fff;
}

/* SCROLL BAR SETTINGS */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    margin: 60px 0px 5px;
    box-shadow: inset 0 0 15px grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(145, 145, 145); 
    border-radius: 10px;
}

/* UTILITIES */
.col-white { 
    color: #fff;
}

.circle { 
    border-radius: 50%;
}

.big-icon { 
    font-size:24px;
}

.py-10px {
    padding: 10px 0;
}

.pt-10px {
    padding-top: 10px;
}

.pl-10px {
    padding-left: 10px;
}

.mb-5px { 
    margin-bottom: 5px;
}

.mb-10px { 
    margin-bottom: 10px;
}

.ml-10px { 
    margin-left: 10px;
}

.mr-10px { 
    margin-right: 10px;
}

/* MAIN */
main {
    display: flex;
}

/* ASIDE NAV */
aside {
    width: 180px;
    z-index: 2;
    padding: 10px 0;
    background: rgb(0, 0, 0);
    color: rgb(108, 108, 108);
}

/* ASIDE LOGO */

.aside-logo {
    width: 65%;
    height: 10%;
}

.aside-logo .principal-img,
.aside-logo .secondary-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.aside-logo .secondary-img {
    display: none;
}

/* MAIN MENU */

.aside-content {
    height: calc(100% - 10%);
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    font-size: 12px;
}

.aside-content ul {
    list-style: none;
}

.aside-content ul li {
    margin: 8px 0;
    cursor: pointer;
    padding-left: 10px;
}

.aside-content ul li:hover {
    border-left: 2px solid rgb(95, 255, 21);
    color: #fff;
    font-weight: 600;
}

.main-menu li>img {
    width: 12%;
    vertical-align: bottom;
}

/* ASIDE PLAYLIST */

.aside-playlist {
    flex-grow: 1;
}

.aside-playlist .create-plist {
    font-size: 18px;
}

.create-plist i {
    font-size: 30px;
    vertical-align: middle;
}

/* ASIDE FOOTER */

.aside-footer {
    margin: 0 10px;
}

.aside-content .app-installer {
    font-size: 10px;
    cursor: pointer;
}

.aside-content .app-installer:hover {
    text-decoration: underline;
}

.aside-footer .profile {
    height: 35px;
    font-size: 14px;
    font-weight: 700;
    border-top: 1px solid rgb(108, 108, 108);
    cursor: pointer;
}

.aside-footer .profile img {
    height: 100%;
    margin-right: 5px;
    vertical-align: middle;
    background-color: #333;
    border-radius: 50%;
}

/* PRINCIPAL WINDOW */

.principal-sct {
    width: calc(100% - 180px);
    height: 91vh;
    padding: 6% 15px 20px;
    background:rgb(11, 14, 26);
    overflow-y: auto;
}

/* UPGRADE BANNER */

.upgrade-banner {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px 3px 20px;
    background: rgba(0, 0, 0, 0.6);
    text-align: right;
    z-index: 1;
}

.upgrade-btn {
    text-decoration: none;
    padding: 5px 20px;
    border: 1px solid #fff;
    border-radius: 16px;
}

.upgrade-btn:hover {
    font-weight: 600;
    border: 2px solid #fff;
}

/* SELECT TYPE SECTION */

.type-select {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 12px;
}

.type-select .type {
    text-transform: uppercase;
    padding: 0 10px;
    color: rgb(108, 108, 108);
    cursor: pointer;
}

.type-select .type::after {
    content: "";
    width: 50%;
    height: 2px;
    display: block;
    margin-top: 4px;
    transform: translateX(50%);
}

.underline:hover .type::after{
    background: rgb(95, 255, 21);
}

.type-select .type:hover {
    color: #fff;
    cursor: pointer;
}

/* ROW SECTION */

.row {
    width: 100%;
    display: flex;
    padding: 20px 0;
    margin-bottom: 15px;
}

.album {
    width: calc(100% / 6 - 10px);
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 10px;
}

.album h3 {
    font-size: 14px;
    padding-top: 5px;
}

.album span {
    font-size: 8px;
}

.album-img {
    position: relative;
    height: 96%;
}

.album-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.album-img .play-btn {
    width: 100%;
    height: 99%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 60px;
    display: none;
}

.play-btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.album-img:hover .play-btn {
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
}

/* FOOTER */

footer {
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
}

footer .content {
    display: flex;
    list-style: none;
    align-items: center;
    cursor: pointer;
}

/* left side ALBUM PLAYED */

.album-played,
.album-description {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.album-played .content li,
.media-settings .content li {
    padding-right: 10px;
}


.album-description .album-img {
    height: 6vh;
}

.album-description .album-name span:last-child {
    display: block;
    font-size: 10px;
}

.album-name .album-title {
    font-size: 14px;
    font-weight: 600;
}

.album-name span:hover {
    text-decoration: underline;
}

.album-played li i:hover {
    font-weight: 600;
    transform: scale(1.25);
}

/* center side MEDIA COMMAND */

.media-command .content li {
    padding-right: 20px;
}

.media-command .content li:last-child {
    padding-right: 0;
}

.media-command {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media-command li .big-icon:hover {
    transform: scale(1.25);
}

/* PROGRESS BAR */

.media-command .progress-section {
    width: 50%;
    display: flex;
    align-items: center;
}

.progress-bar {
    flex-grow: 1;
    height: 4px;
    position: relative;
    background: #ccc;
    border-radius: 10px;
    margin: 0 10px;
}

.media-command .progress-bar::before {
    content: "";
    display: block;
    width: 30%;
    height: 100%;
    border-radius: 10px;
}

.media-command .progress-bar::after {
    content: "";
    width: 9px;
    height: 9px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #666;
    border-radius: 50%;
    z-index: -1;
}

.progress-section:hover .progress-bar::after {
    z-index: 1;
}

.progress-section:hover .progress-bar::before {
    background: rgb(95, 255, 21);
}

/* right side MEDIA SETTINGS */

.media-settings .content li:last-child {
    padding-right: 0;
}

.media-settings {
    display: flex;
}

.media-settings .progress-section {
    width: 100px;
    display: flex;
    align-items: center;
}

.media-settings .progress-bar::before {
    content: "";
    display: block;
    width: 50%;
    height: 100%;
    border-radius: 10px;
}

.media-settings .progress-bar::after {
    content: "";
    width: 9px;
    height: 9px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #666;
    border-radius: 50%;
    z-index: -1;
}

/* RESPONSIVE */

/* FOR MONITOR UNDER 950PX */

@media screen and (max-width: 950px) {
    .row {
        flex-wrap: wrap;
    }

    .album {
        width: calc(100% / 4 - 10px);
    }
}

 /* FOR SCREEN UNDER 600PX */

@media screen and (max-width: 600px) {
    .principal-sct {
        padding-top: 10%;
    }

    .album {
        width: calc(100% / 2 - 10px);
        margin-bottom: 10px;
    }

    .album-played .content {
        flex-direction: column;
    }

    .album-played .content li {
        padding-top: 3px;
    }

    .media-command .progress-section {
        width: 90%;
    }

    .media-settings .progress-section {
        width: 70px;
    }
}

 /* FOR SCREEN UNDER 500PX */

@media screen and (max-width: 500px) {
    aside {
        width: 50px;
    }

    .principal-sct {
        width: calc(100% - 50px);
        padding-top: 14%;
    }

    .aside-logo .principal-img {
        display: none;
    }

    .aside-logo .secondary-img {
        display: block;
    }

    .aside-content {
        align-items: center;
    }

    .aside-content span {
        display: none;
    }

    .main-menu li>img {
        width: 80%;
    }

    .main-menu {
        flex-grow: 1;
    }
    .aside-playlist {
        display: none;
    }

    .aside-content .app-installer {
        font-size: 14px;
        text-align: center;
        margin-bottom: 0;
    }

    .aside-footer .profile {
        border: 0;
        height: 40px;
        margin-left: 5px;
    }

    .album-name {
        display: none;
    }

}

 /* FOR SCREEN UNDER 350PX */

 @media screen and (max-width: 350px) {
    .principal-sct {
        padding-top: 18%;
    }

    .media-settings .progress-section {
        display: none;
    }

    .media-settings .content {
        flex-direction: column-reverse;
        align-items: inherit;
    }

    .media-settings li {
        padding-top: 3px;
    }
 }